#parse("/templates/standard/aui.vm")
#parse("/templates/standard/normalHeader.vm")
#if (!$auiparams.containsKey('class'))
	#set ($auiparams.class = "select")
#end
#parse("/templates/common/select.vm")
#parse("/templates/standard/normalFooter.vm")