{
	"projectSelection" : {
		"Different group" : "true",
		"Sample Project" : "true",
		"Inbox" : "true",
		"FB Test Project" : "true"
	},
	"project" : { 
		"Sample Project" : "SAM",
		"FB Test Project" : "FBT",
		"Inbox" : "INB",
		"Different group" : "DIF"
	},
	"field" : {
		"ixBug" : "External Bug Id",
		"sCustomerEmail" : "Customer Email",
		"sComputer" : "Computer"
	},
	"link" : {
		"Duplicates" : "Duplicate",
		"See also" : "Relates",
		"Parent / Subcase" : "Relates"
	},
	"value" : { 
		"sPriority" : {
			"Must Fix" : "2",
			"Fix If Time" : "3",
			"Don't Fix" : "4"
		},
		"sCategory" : {
			"Feature" : "2",
			"Bug" : "1",
			"Inquiry" : "3",
			"Schedule Item" : "3"
		},
		"workflowScheme" : ""
	}
}
