#if ($username)
    #set ($quote = '"')
    #if($user)
        #set ($userHoverAttributes = "class=${quote}user-hover${quote} rel=${quote}${textutils.htmlEncode($username)}${quote}")
        #set($author = "<a #if($userAvatarEnabled)${userHoverAttributes}#end id=${quote}$!{id}_${textutils.htmlEncode($username)}${quote} href=${quote}${baseurl}/secure/ViewProfile.jspa?name=${velocityhelper.urlencode($username)}${quote}#if($style && ($style != '')) style=${quote}${style}${quote}#end>$textutils.htmlEncode($fullname)</a>")
    #else
        #set($author = $textutils.htmlEncode($username))
    #end
#else
    #set($author = $i18n.getText('common.words.anonymous'))
#end
${author}