.gitignore
*.iml
*.ipr
*.iws
.classpath
.idea
.project
.settings
target/
classes/
tomcatBase/
*.log
.clover/
release.info
filename?
jira-home
modules
BuildUtils.java
atlassian-bundled-plugins.zip
svn.info.xml
jira.idea.properties

check-cache.xml
localtest.properties

rest-fields.xml
professional.xml
professional-with-flush.xml
enterprise.xml
enterprise-with-flush.xml
outputtest.xml
(test'file)
DummyAttachment

tomcat
tomcat4
tomcat6

*10018__*
*10019_a*

*.backup
