#admin-summary-panel .as-label {
    color: #505050;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.364;
    margin: 16px 0 0 0;
}
#admin-summary-panel .as-label:first-child {
    margin-top: 0;
}

.as-list,
.as-recent-projects-list {list-style:none;margin: 16px 0 0 0;padding:0;}
.as-label + .as-list,
.as-label + .as-recent-projects-list {margin-top: 0;}

.as-list li {background:url('images/ico_as_option.png') no-repeat 0 3px;display:inline;padding-left:14px;}
.as-list li:first-child {background:none;padding-left:0;}
.as-list li a {white-space:nowrap;}
.as-list .icon {margin:0;}

.as-recent-projects-list {overflow:hidden;}
.as-recent-projects-list li { display: block; float:left; margin: 0 16px 0 0; min-height: 48px;padding: 8px 8px 0 56px; position:relative;}
.as-recent-project-icon {float: left; margin-left: -56px;}
.as-recent-project-icon > img { vertical-align: top; }
.as-recent-project-name {display:block;font-size:15px; line-height:1.2667;font-weight:bold;margin:7px 0;}
.as-recent-key {margin-right:16px;}
.as-recent-key,
.as-recent-count {color:#505050;}

.as-welcome {overflow:hidden;margin-bottom:1em;padding-top:1em;}
.as-welcome .asw-message {background-color:#E0EFFF;float:left;width:32%;margin-left:1%;padding:0;height:8em;border:1px solid #3C78B5;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.as-welcome .asw-message:first-child {margin-left:0;}
.as-welcome .asw {padding:1em;position:relative;}
.as-welcome .asw h4 {margin:0 0 8px 0;}
.as-welcome .asw-type-small {padding-left:73px;}
.as-welcome .asw-type-medium {padding-left:101px;}
.as-welcome .asw-type-large {padding-left:176px;}
.asw-image {position:absolute;top:1em;left:1em;}

.admin-project-intro-frame {border: none;width:830px;height:420px;}



