## There are columns selected
    #if ($layout.columns.empty == false)
                #if ($columnTotals && !$columnTotals.isEmpty())
                    #totals ($columnTotals $layout.columns)
                #end

            </table>

        ## paginate the issues (ie show links to page 1, page 2 etc).  This is used if there are more issues than can be shown on one page
        #pages ($pager)

    #else
        #set($messageText = "<p>$i18n.getText('navigator.results.nocolumns')</p><p><a href='${baseurl}/secure/ViewUserIssueColumns!default.jspa'>$i18n.getText('navigator.results.configurenavigator')</a></p>")
        #AUImessage("info" "" "$messageText" "" "" "" "false")
    #end