{
  "field" : {
    "bug_url" : "External issue URL",
    "bug_severity" : "Severity",
    "priority" : "Priority",
    "status_whiteboard" : "Status Whiteboard",
    "cf_os" : "Operating system",
    "cf_list" : "This is a list custom field",
    "cf_large_text_box" : "Large text box",
    "cf_free_text" : "Free text",
    "cf_multiselect" : "Multiselect",
    "cf_date_time" : "Date time"
  },
  "link" : {
    "Duplicates" : "",
    "Depends on / Blocks" : ""
  },
  "value" : {
    "bug_status" : {
      "NEW" : "1",
      "TESTING" : "4",
      "RESOLVED" : "5",
      "QA" : "4",
      "ASSIGNED" : "1"
    },
    "login_name" : {
      "mixEdCase@Gmail.com" : "mix"
    },
    "workflowScheme" : "",
    "resolution" : {
      "DUPLICATE" : "3"
    }
  },
  "projectName" : {
    "TestProduct" : "TestProduct",
    "Invalid component id" : "Invalid component id",
    "A" : "A"
  },
  "projectKey" : {
    "TestProduct" : "TES",
    "Invalid component id" : "INV",
    "A" : "AJJ"
  },
  "projectLead" : {
  		"TestProduct" : "admin",
  		"Invalid component id" : "admin",
  		"A" : "admin"
  },
  "projectSelection" : {
    "A" : "true",
    "TestProduct" : "true",
    "Invalid component id" : "true"
  },
  "projectCategory" : {
    "A" : "",
    "TestProduct" : "",
    "Invalid component id" : ""
  }
}