{
	"projectSelection" : {
		"A" : "true",
		"TestProduct" : "true",
		"Invalid component id" : "true"
	},
	"projectKey" : {
		"TestProduct" : "TES",
		"Invalid component id" : "INV",
		"A" : "AJJ"
	},
	"projectLead" : {
		"TestProduct" : "admin",
		"Invalid component id" : "admin",
		"A" : "admin"
	},
	"projectName" : {
		"TestProduct" : "TestProduct",
		"Invalid component id" : "Invalid component id",
		"A" : "A"
	},
	"field" : {
		"bug_id" : "Bug Import Id",
		"bug_severity" : "Severity",
		"priority" : "Priority",
		"status_whiteboard" : "Status Whiteboard",
		"cf_os" : "Operating system"
	},
	"value" : { 
		"resolution" : {
			"DUPLICATE" : "3"
		},
		"bug_status" : {
			"NEW" : "1",
			"TESTING" : "4",
			"RESOLVED" : "5",
			"ASSIGNED" : "1",
			"QA" : "4"
		},
		"login_name" : {
			"piotr.maruszak@spartez.com" : "piotr",
			"pniewiadomski@atlassian.com" : "pawel",
			"wseliga@atlassian.com" : "wojtek",
			"user1@example.com" : "userone",
			"disabled@localhost.localdomain" : "dsa"
		},
		"workflowScheme" : ""
	}
}
