#issue_header_summary h3.formtitle { font-size: 1.3em; }
.msie-7 #issue_header_summary {float:none;}
.msie-7 ul#issuedetails dl {width:49%;}
.msie-7 ul#issuedetails dl dt {width:38%;}
.msie-7 ul#issuedetails dl dd {width:60%;}

#descriptionmodule .mod-content {overflow:auto;overflow-y:hidden;padding-bottom:0;}

/* Tab Panel Content styles */
.issue-data-block { border-bottom: 1px solid #ddd; padding: 0.5em; }
.issue-data-block.focused { background-color: #f0f0f0; }
.issue-data-block:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.msie-7 .actionContainer {padding-bottom:0;}
.closed .actionContainer.focused,
.actionContainer.focused .action-links,
.actionContainer.focused .action-details { background: #def; }
.actionContainer .subText { font-size: 1em; }
.actionContainer .action-links { visibility: hidden; }
.actionContainer ul.item-details dl dt { width: 19%; }
.actionContainer ul.item-details dl dd { width: 79%; }
.issue-data-block.focused .actionContainer .action-links { visibility: visible; }

.status-view {white-space:nowrap;}

.action-details { line-height: 1.5; text-align: left; }
.focused .action-details { text-align: left; }

.action-links { float: right; }
.action-body { overflow: auto; overflow-y: hidden; }
.action-body blockquote { color: #333; }
.action-body .item-details { margin-top: 0.5em; }

#addcomment .mod-content {display:none;}
#addcomment.active .mod-footer {display:none;}
#addcomment .mod-footer {overflow:hidden;}
#addcomment.active .mod-content {display:block;}
#addcomment textarea {max-height:none; min-height:150px; }

#issue-comment-add #comment {width:100%;}
#issue-comment-add .previewClass {overflow:auto;}
#issue-comment-add div label {float:left; clear:left; margin-right:5px;}
#issue-comment-add div.field-group {padding-left:0;}
#issue-comment-add div.field-group label {left:0;padding-left:0;width:auto;padding-top:0;line-height:1.4;}
#issue-comment-add .buttons {margin-bottom:0;padding-bottom:0;padding-left:0;}

/* Links */
#linkingmodule table.aui {clear:both;margin-bottom:20px;overflow:hidden;}
.issue-links .priority,
.issue-links .status,
.issue-links .actions {padding:5px 2px 4px;width:1%;}
.issue-links .actions {padding-left:10px;}
.issue-links .actions .icon {visibility:hidden;}
.issue-links tr:hover .actions .icon {visibility:visible;}
.issue-links .issuekey {max-width:200px;white-space:nowrap;width:15%;}
.issue-links tbody .resolution {text-decoration:line-through;}
    /* link form */
    .msie-7 #issue-link fieldset,
    .msie-8 #issue-link fieldset {margin-bottom:0;padding-bottom:0;}

/* new links module */
.links-list + .links-list {border-top:1px solid #f1f1f1;}
.links-list {padding-left:150px;}
.links-list:last-child {border-bottom:none;}
.links-list img {vertical-align:text-top;}
.links-list dt {float:left;margin-left:-150px;padding-top:5px;width:142px;}
.links-list dd {border-top:1px solid #f1f1f1;display:table;padding:5px;table-layout:fixed;width:100%;word-wrap:normal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ie-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
.links-list dt + dd {border-top:none;}

.links-list dd > p {
width:100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ie-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.links-list dd > p,
.links-list dd > ul {display:table-cell;table-layout:fixed;}
.links-list ul {list-style:none;margin:0;padding:0;text-align:right;width:88px;white-space:nowrap;}
.links-list ul li {display:inline;margin-left:8px}

.links-list dd li.delete {visibility:hidden;}
.links-list dd:hover {background-color:#f0f0f0;}
.links-list dd:hover li.delete {visibility:visible;}

/* Subtasks */
#view-subtasks td { white-space: normal; }
#view-subtasks td.stsummary { min-width: 200px; width: 100%; }
#view-subtasks td.assignee .tinylink { display: block; overflow: hidden; white-space: nowrap; word-wrap: normal; }
#stqc_form_container {margin-bottom:1em;}
#stqc_form_container h4 {border-bottom:1px solid #ddd;font-size:1em;margin:0 0 0.498em 0.2em;}
#stqc_form_container .subText {font-size:1em;margin-left:0.498em;}
#stqc_form_container .jiraform td.jiraformfooter {border-bottom:1px solid #ddd;}
.subtask-prog-wrap {background-color: #FFF; display: block; float:right; margin: 3px 0 0 0; padding: 0 0.714em 0 0.5em;}
.subtask-prog-wrap span {color:#808080; float:left; margin: 0 0.429em 0 0;}
#subtasks_resolution_percentage {float:left;position:relative;top:3px;width:10em;line-height:1em}
#subtasks_resolution_percentage td,
#subtasks_resolution_percentage td img {height:10px;}
.msie-7 #subtasks_resolution_percentage .p_graph {font-size:5px;}
#stqc_form_container #attachment_fieldFieldArea .field-group label{padding-left:5px;}
#stqc_form_container #attachment_fieldFieldArea .field-group.error {color:red;}

/* Voters and watchers */
#votes-val,
#watchers-val {float:left;margin-bottom:2px;width:50%;}
#votes-val + #watchers-val {float:right;text-align:right;}
#vote-label,
#watch-label { cursor: default; }
#vote-label,
#vote-toggle,
#watch-label,
#watching-toggle { padding-left: 24px; }
#vote-label .icon,
#vote-toggle .icon,
#watch-label .icon,
#watching-toggle .icon { margin: 0 4px 0 -24px; }
#vote-toggle:hover .icon-vote-off {background-position:0 -1300px} /* Show the Add Vote icon on hover */
#vote-toggle:hover .icon-vote-on {background-position:0 -1340px} /* Show the Remove Vote icon on hover */
#watching-toggle:hover .icon-watch-off {background-position:0 -1200px} /* Show the Watch icon on hover */
#watching-toggle:hover .icon-watch-on {background-position:0 -1240px} /* Show the Un-watch icon on hover */

/* View Voters */
.tickLabel {font-size:11px;}

/* Attachments */
.item-attachments {list-style:none inside none;margin:0;padding:0;}
.item-attachments:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.attachment-content {list-style-position:outside;padding:1px 1px 1px 24px;}
.attachment-content:hover { background-color:#f0f0f0;}
.attachment-content:after,
.attachment-content twixi-block:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.attachment-content div.twixi-block {margin-left:-17px;}
.attachment-content dt {float:left;}
.attachment-content dd {float:right;}
.attachment-content dd.zip-contents {background-color:#fff;clear:both;float:none;margin-left:-23px;padding:0 182px 0 48px;}
.attachment-content dd.zip-contents ol {list-style-type:none;padding:0;margin:0;}
.attachment-content dd.zip-contents .attachment-size {color:#bbb;float:right;}
.msie-7 .attachment-content,
.msie-7 .attachment-content dl,
.msie-7 .attachment-content div.twixi-block {zoom:1;}
.msie-7 .attachment-content dd.zip-contents {margin-left:-51px;}
.msie-7 .attachment-content dd.zip-contents .attachment-size {float:none;}
.msie-7 #attachment_thumbnails .attachment-title {overflow:hidden;}
.zip-contents-trailer {color:#bbb;}
#attachment_thumbnails {float:left;}
#attachment_thumbnails.section {border-top:1px solid #ddd;margin-top:1em;padding-top:6px;}
.attachment-thumb {float:left;margin-right:0.581em;}
.attachment-thumb img {vertical-align:text-top;}
.earlier-version a:link,
.earlier-version a:visited {color:#666;}
.attachment-size {color:#666;margin:0 6px;}
.attachment-author {display:none;}
.attachment-content:hover .attachment-delete {visibility: visible;}
.attachment-delete {visibility: hidden;}
#attachment_thumbnails .attachment-delete { position: absolute; left: auto; right: 0; padding: 0; margin: 0; background-color:#f0f0f0; }
#attachment_thumbnails .attachment-delete .icon { margin: 0; }
dd.attachment-date {text-align:right;width:180px;}
/* large thumbnails */
#attachment_thumbnails .attachment-content {border:1px solid #f0f0f0;float:left;height:242px;margin:0 6px 6px 0;padding:6px 10px;width:200px;text-align:center;}
#attachment_thumbnails .attachment-thumb {float:none;height:200px;margin:0 auto;width:200px;display:table-cell;text-align:center;vertical-align:middle;}
#attachment_thumbnails dl {clear:left;display:block;height:42px;overflow:hidden;width:200px;}
#attachment_thumbnails dt,
#attachment_thumbnails dd {position:relative;text-align:left;}
#attachment_thumbnails .attachment-title {display:block;float:none;height:21px;white-space:nowrap;width:200px;word-wrap:normal;}
#attachment_thumbnails .attachment-size {float:left;margin:0;top:-0.213em;width:auto;}
#attachment_thumbnails .attachment-date {top:-0.213em;width:auto;}



/* Time (tracking) module RHS */
.tt_inner,
.tt_inner dl {clear:both;overflow:hidden;width:100%;}
.tt_inner dl {margin-bottom:0.5em;}
.tt_inner dt,
.tt_inner dd {display:block;float:left;line-height:1.2em;}
dt.tt_text {color:#666;margin-right:1%;width:25%;}
dd.tt_values {margin-right:1%;text-align:right;width:25%;}
dd.tt_graph {float:right;padding-top:0.25em;width:46%;}
/* for narrow RHS */
body.type-ab #secondary dt.tt_text {width:39%;}
body.type-ab #secondary dd.tt_values {float:right;margin-right:0;width:60%;}
body.type-ab #secondary dd.tt_graph {clear:both;float:none;line-height:0;width:100%;}
#tt_include_subtasks label {color:#666;margin-left:0.5em;}


/* Tab Panel Change History - Fisheye overrides? */
.activity-name { color: #666; min-width: 150px; }
.activity-old-val,
.activity-new-val { min-width: 250px; }

/* The file upload progress bar */
.file-progress .progress-fill-color {
    background-color: #cccccc;
}

.file-progress {
    position: relative;
    height: 2px;
    width: 320px;
    padding: 5px 0;
}

.issuePanelProgress.loading { background: url("../../../images/gadgets/loading.gif") center no-repeat; height: 60px; }
