.command-bar {clear:both;}
.ops-cont {clear:both;display:block;min-height:1.7em;padding:0 0 0.832em 0;}
.ops-cont .ops {float:left;}
.msie-7 .ops-cont,
.msie-7 .ops {zoom:1;}
.ops {list-style-type:none;margin:0;padding:0;}
.ops li {display:block;float:left;white-space:nowrap;}
.ops li.last {margin-right:1em;}
.ops li .disabled {opacity: .40;}
.ops li.info {float:right;white-space:nowrap;width:auto;}
.ops li a#back-lnk {padding-left: 0.249em;}
.ops li .button {background:#fff url(../../../images/button_bg.png) repeat-x scroll 0 100%;border:1px solid #ddd;color:#111;display:block;float:left;height:1.5em;padding:0 0.581em;border-left-color:#fff;}
.ops li .button.first {-moz-border-radius-topleft:0.25em;-moz-border-radius-bottomleft:0.25em;-webkit-border-top-left-radius:0.25em;-webkit-border-bottom-left-radius:0.25em;border-top-left-radius:0.25em;border-bottom-left-radius:0.25em;border-left-color:#ddd;}
.ops li .button.last {-moz-border-radius-topright:0.25em;-moz-border-radius-bottomright:0.25em;-webkit-border-top-right-radius:0.25em;-webkit-border-bottom-right-radius:0.25em;border-top-right-radius:0.25em;border-bottom-right-radius:0.25em;}
.ops li a.button:hover {border-color:#999;text-decoration:none;}
.ops li .button .icon {margin:0;vertical-align:text-top;line-height:1.5em;}
.ops li a.button:active,
.ops li .active .button,
.ops li .active.button {background-color:#3c78b5;background-image:none;color:#fff;text-decoration:none;}
.ops li .drop-menu,
.ops li .button:hover .drop-menu {background-position:-25px -199px;}
.ops li a.button:active .drop-menu,
.ops li .active.button .drop-menu {background-position:-25px -219px;}

/* drop arrow only */
.ops li.drop {border-left:1px dotted #ddd;padding-left:2px;}
.ops li a.drop-menu.active,
.ops li a.drop-menu.active:hover,
.ops li a.drop-menu:hover {background-color:#ccc;background-position:-25px -219px}

#view-drop {float:right;} /* this could do with a better name */
#view-drop li a.icon-views {background-position:5px 3px;color:#111;font-size:inherit;height:1.5em;line-height:1.5em;padding:1px 5px 1px 28px;}
#view-drop li a.icon-views.active,
#view-drop li a.icon-views:active,
#view-drop li a.icon-views:hover {color:#fff;}

.release-notes .ops-cont {float:right;}

/* IE Fixes */
.msie-7 #stalker ul.ops,
.msie-8 #stalker ul.ops,
.msie-7 .ops-menus,
.msie-8 .ops-menus {display:inline-block;}
.msie-7 .stalker .ops-menus,
.msie-8 .stalker .ops-menus {width:100%;}
.msie-7 .ops li .disabled,
.msie-8 .ops li .disabled {filter:alpha(opacity=40);}
