{
  "importexistingproject" : "false",
  "field.Custom list" : "customfield_10000",
  "project.lead" : "admin",
  "user.email.suffix" : "@example.com",
  "field.Summary" : "summary",
  "delimiter" : ",",
  "date.import.format" : "yyyyMMddHHmmss",
  "importsingleproject" : "true",
  "project.name" : "Select custom field",
  "encoding" : "UTF-8",
  "project.key" : "SCF",
  "mapfromcsv" : "false"
}