{
	"importsingleproject" : "false",
	"importexistingproject" : "false",
	"mapfromcsv" : "true",
	"field.project key" : "project.key",
	"field.issue type" : "type",
	"field.assignee" : "assignee",
	"field.project name" : "project.name",
	"field.summary" : "summary",
	"field.project lead" : "project.lead",
	"value.issue type.bug" : "1",
	"field.reporter" : "reporter",
	"user.email.suffix" : "@test.pl"
}
