{
  "importexistingproject" : "false",
  "project.lead" : "admin",
  "user.email.suffix" : "@example.com",
  "field.Summary" : "summary",
  "date.import.format" : "HH:mm yyyy^MM^dd",
  "date.fields" : "Custom date time",
  "importsingleproject" : "true",
  "project.name" : "Custom date",
  "field.Custom date picker" : "customfield_Custom date picker:com.atlassian.jira.plugin.system.customfieldtypes:datepicker",
  "project.key" : "CDAT",
  "mapfromcsv" : "false",
  "field.Custom date time" : "customfield_Custom date time:com.atlassian.jira.plugin.system.customfieldtypes:datetime"
}