{
	"delimiter" : ",",
	"mapfromcsv" : "false",
	"project.name": "Test if configuration is read properly",
	"project.key": "TICIRP",
	"field.summary" : "summary",
	"field.realstatus" : "status",
	"field.type" : "issuetype",
	"value.type.Bug" : "1",
	"value.realstatus.Closed" : "4",
	"user.email.suffix" : "@atlassian.com"
}
