{
  "field.State" : "status",
  "importexistingproject" : "false",
  "project.lead" : "admin",
  "user.email.suffix" : "@example.com",
  "field.Headline" : "summary",
  "date.import.format" : "yyyyMMddHHmmss",
  "field.Description" : "description",
  "importsingleproject" : "true",
  "project.name" : "Multi-line field",
  "encoding" : "UTF-8",
  "project.key" : "MIF",
  "mapfromcsv" : "false",
  "value.State.Closed" : "6",
  "value.Priority.2-High" : "2",
  "field.Priority" : "priority"
}