{
  "field" : {
    "sCustomerEmail" : "Customer Email",
    "sComputer" : "Computer"
  },
  "link" : {
    "Duplicates" : "",
    "See also" : "",
    "Parent / Subcase" : ""
  },
  "value" : {
    "sStatus" : {
      "Active" : "1",
      "Resolved" : "5",
      "Closed" : "6"
    },
    "workflowScheme" : "",
    "sPriority" : {
      "6-Fix If Time" : "3",
      "3-Must Fix" : "4",
      "2-Must Fix" : "2",
      "5-Fix If Time" : "3",
      "7-Don't Fix" : "5",
      "1-Must Fix" : "2",
      "4-Fix If Time" : "4"
    }
  },
  "projectName" : {
    "Sample Project" : "Sample Project",
    "Inbox" : "Inbox"
  },
  "projectKey" : {
    "Sample Project" : "SAM",
    "Inbox" : "INB"
  },
  "projectSelection" : {
    "Sample Project" : "true",
    "Inbox" : "true"
  },
  "projectCategory" : {
    "Sample Project" : "",
    "Inbox" : ""
  }
}
{
  "field" : {
    "sCustomerEmail" : "Customer Email",
    "sComputer" : "Computer"
  },
  "link" : {
    "Duplicates" : "",
    "See also" : "",
    "Parent / Subcase" : ""
  },
  "value" : {
    "sStatus" : {
      "Active" : "1",
      "Resolved" : "5",
      "Closed" : "6"
    },
    "workflowScheme" : "",
    "sPriority" : {
      "6-Fix If Time" : "3",
      "3-Must Fix" : "4",
      "2-Must Fix" : "2",
      "5-Fix If Time" : "3",
      "7-Don't Fix" : "5",
      "1-Must Fix" : "2",
      "4-Fix If Time" : "4"
    }
  },
  "projectName" : {
    "Sample Project" : "Sample Project",
    "Inbox" : "Inbox"
  },
  "projectKey" : {
    "Sample Project" : "SAM",
    "Inbox" : "INB"
  },
  "projectSelection" : {
    "Sample Project" : "true",
    "Inbox" : "true"
  },
  "projectCategory" : {
    "Sample Project" : "",
    "Inbox" : ""
  }
}