{
  "field" : {
    "ixBug" : "Bug Import Id",
    "sCustomerEmail" : "Customer Email",
    "sComputer" : "Computer"
  },
  "link" : {
    "Duplicates" : "",
    "See also" : "",
    "Parent / Subcase" : ""
  },
  "value" : {
    "sStatus" : {
      "Active" : "1",
      "Resolved" : "3",
      "Closed" : "3"
    },
    "workflowScheme" : "My Test Workflow Scheme",
    "sStatus (Resolution)" : {
      "Duplicate" : "3",
      "Implemented" : "1"
    }
  },
  "projectName" : {
    "Sample Project" : "Sample Project",
    "FB Test Project" : "FB Test Project",
    "Inbox" : "Inbox",
    "Different group" : "Different group"
  },
  "projectKey" : {
    "Sample Project" : "SAM",
    "FB Test Project" : "FBT",
    "Inbox" : "INB",
    "Different group" : "DIF"
  },
  "projectSelection" : {
    "Different group" : "true",
    "Sample Project" : "true",
    "Inbox" : "true",
    "FB Test Project" : "true"
  },
  "projectCategory" : {
    "Different group" : "",
    "Sample Project" : "",
    "Inbox" : "",
    "FB Test Project" : ""
  }
}