<tr valign="top">
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 10px 10px 0;white-space:nowrap;">
        <strong style="font-weight:normal;color:${textSubtleColour};">#text("issue.field.assignee"):</strong>
    </td>
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 0 10px 0;width:100%;">
        #if ($issue.assigneeUser)
            #authorlink2($issue.assigneeUser.name $linkstyle)
        #else
            #text("common.concepts.unassigned")
        #end
    </td>
</tr>