#if ($attachments && $attachments.size() >0)
<tr valign="top">
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 10px 10px 0;white-space:nowrap;">
        <strong style="font-weight:normal;color:${textSubtleColour};">#text("template.attachments"):</strong>
    </td>
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 0 10px 0;width:100%;">
        #foreach ($attachment in $attachments)
            $attachment.getFilename()#if ($velocityCount != $attachments.size()), #end
        #end
    </td>
</tr>
#end