#if ($issue.components && $issue.components.size() >0)
<tr valign="top">
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 10px 10px 0;white-space:nowrap;">
        <strong style="font-weight:normal;color:${textSubtleColour};">#text("common.concepts.components"):</strong>
    </td>
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 0 10px 0;width:100%;">
        #foreach ($component in $issue.components)
            $component.getString("name")#if ($velocityCount != $issue.components.size()), #end
        #end
    </td>
</tr>
#end