#if ($issue.fixVersions && $issue.fixVersions.size() >0)
<tr valign="top">
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 10px 10px 0;white-space:nowrap;">
        <strong style="font-weight:normal;color:${textSubtleColour};">#text("template.fix.versions"):</strong>
    </td>
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 0 10px 0;width:100%;">
        #foreach ($fixfor in $issue.fixVersions)
            $fixfor.getString("name")#if ($velocityCount != $issue.fixVersions.size()), #end
        #end
    </td>
</tr>
#end