#if ($issue.securityLevel)
<tr valign="top">
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 10px 10px 0;white-space:nowrap;">
        <strong style="font-weight:normal;color:${textSubtleColour};">#text("issue.field.securitylevel"):</strong>
    </td>
    <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};padding:0 0 10px 0;width:100%;">
        $issue.securityLevel.getString("name") #if ($textutils.stringSet($issue.securityLevel.getString("description")))($issue.securityLevel.getString("description")) #end
    </td>
</tr>
#end