<html>
<head>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_users_menu/users_groups_configuration/embedded_crowd_section"/>
    <meta name="admin.active.tab" content="user_directories"/>
	<title>$i18n.getText("embedded.crowd.directory.edit.jirajdbc.title")</title>
    $webResourceManager.requireResource("com.atlassian.crowd.embedded.admin:web-resources")
</head>
<body>
<div id="embcwd">
    #springBindEscaped("configuration" false)
    <div class="page-header">
        <h3>$i18n.getText("embedded.crowd.directory.edit.jirajdbc.title") #helpLink("embedded.crowd.directory.configure.jirajdbc")</h3>
    </div>
    #foreach($error in $status.errorMessages)<div class="aui-message error"><span class="error-icon"></span>$error</div>#end
    #if ($testSuccessful) <div class="aui-message success"><span class="success-icon"></span> $i18n.getText("embedded.crowd.connection.test.successful")</div> #end

    #set($formPrefix = "configure-crowd-form")
    <form id="$formPrefix" class="aui" action="#springUrl("/plugins/servlet/embedded-crowd/configure/jirajdbc/")" method="POST">
        <input type="hidden" name="$xsrfTokenName" value="$xsrfTokenValue"/>
        #set($i18nPrefix = "embedded.crowd.directory.edit.jirajdbc.field")
        #auiFormHiddenInput("configuration.directoryId")

        <h3>$i18n.getText("embedded.crowd.directory.edit.jirajdbc.heading.server")</h3>
        <div class="field-group">
            #auiFormInput("configuration.name" { "required": true })
        </div>
        <div class="field-group">
            #auiFormInput("configuration.datasourceJndiName" { "required": true, "showDescription": true })
        </div>

        <div class="buttons">
            <input accesskey="t" class="button" id="${formPrefix}-test" name="test"
                   title="$i18n.getText("embedded.crowd.directory.edit.test.title")" type="submit" value="$i18n.getText("embedded.crowd.directory.edit.test.label")">
             ## Only enable the Save button if the configuration was tested successfully
            <input accesskey="s" class="button" id="${formPrefix}-submit" name="save" #if (!$testSuccessful) disabled #end
                   title="$i18n.getText("embedded.crowd.directory.edit.submit.title")" type="submit" value="$i18n.getText("embedded.crowd.directory.edit.submit.label")">
            <a class="cancel" accesskey="`" href="#springUrl("/plugins/servlet/embedded-crowd/directories/list")"
               id="${formPrefix}-cancel" title="$i18n.getText("embedded.crowd.directory.edit.cancel.title")">$i18n.getText("embedded.crowd.directory.edit.cancel.label")</a>
        </div>
    </form>
</div>
</body>
</html>
