<html>
<head>
    <title>$action.getText("workflow.designer.edit.workflow.title", $action.htmlEncode($!action.wfName))</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="admin.active.section" content="admin_issues_menu/element_options_section/workflows_section"/>
    <meta name="admin.active.tab" content="workflows"/>
    <script>
        contextPath = "$req.contextPath";
        //disable keyboard shortcuts since they can interfere with typing in flash text fields.
        AJS.keys = undefined;
    </script>
</head>
<body id="jira">
    $action.headerHtml

    <div class="workflow-container">
        <nav class="aui-toolbar">
            <ul class="toolbar-group">
                <li class="toolbar-item active">
                    <a class="toolbar-trigger" id="workflow-diagram">$i18n.getText('admin.workflows.actions.view.diagram')</a>
                </li>
                <li class="toolbar-item">
                    <a class="toolbar-trigger" id="workflow-text" href="$baseurl/secure/admin/workflows/ViewWorkflowSteps.jspa?workflowMode=$action.urlEncode($!action.workflowMode)&workflowName=$action.urlEncode($!action.wfName)">$i18n.getText('admin.workflows.actions.view.text')</a>
                </li>
            </ul>
            <ul class="toolbar-group">
                <li class="toolbar-item">
                    <a class="toolbar-trigger" data-operation="xml" id="xml_$action.urlEncode($!action.wfName)" href="$baseurl/secure/admin/workflows/ViewWorkflowXml.jspa?workflowMode=$action.urlEncode($!action.workflowMode)&workflowName=$action.urlEncode($!action.wfName)">$i18n.getText('admin.workflows.actions.download.xml')</a>
                </li>
            </ul>
        </nav>
        <div id="jwd">
            <div id="jwdFlex">
                <div class="aui-message info"><span class="aui-icon icon-info"></span>
                    <p>$i18n.getText("workflow.designer.flash.required")</p>
                    <p><a href="$req.scheme://www.adobe.com/go/getflashplayer"><img src="$req.scheme://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="$i18n.getText("workflow.designer.flash.get")"/></a></p>
                </div>
            </div>
        </div>
    </div>
    <fieldset class="hidden parameters">
        <input type="hidden" title="translations" value="$action.urlEncode($action.getTranslationsAsJSON())" />
        <input type="hidden" title="workflowName" value="$action.urlEncode($!action.wfName)"/>
        <input type="hidden" title="workflowIsDraft" value="$action.draft"/>
        <input type="hidden" title="editTransition" value="$action.getText("workflow.designer.edit.transition.title")"/>
        <input type="hidden" title="swfUrl" value="$webResourceManager.getStaticResourcePrefix()/download/resources/$action.pluginKey:workflowdesignerflex/flex/jira-workflow-designer-flex-${action.pluginVersion}.swf"/>
        <input type="hidden" title="epxpressInstallUrl" value="$webResourceManager.getStaticResourcePrefix()/download/resources/$action.pluginKey:workflowdesignerflex/flex/expressInstall.swf"/>
    </fieldset>
</body>
</html>