{
	"encoding" : "UTF-8",
	"importsingleproject" : "true",
	"importexistingproject" : "false",
	"mapfromcsv" : "false",
	"project.name" : "CSV Import",
	"project.key" : "CSVI",
	"project.lead" : "admin",
	"field.summary" : "summary",
	"field.attachment" : "attachment",
	"field.priority" : "priority",
	"field.MyReporter" : "reporter",
	"user.email.suffix" : "@example.com"
}
