{
	"encoding" : "UTF-8",
	"importsingleproject" : "true",
	"importexistingproject" : "false",
	"mapfromcsv" : "false",
	"project.name" : "CSV Import",
	"project.key" : "CSVI",
	"project.lead" : "admin",
	"field.project.key" : "customfield_10003",
	"field.summary" : "summary",
	"field.assignee" : "customfield_10001",
	"field.project" : "customfield_10002",
	"field.reporter" : "customfield_10000",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "yyyyMMddHHmmss"
}
