{
  "field.Issue id" : "issue-id",
  "project.lead" : "admin",
  "field.Issue Type" : "issuetype",
  "user.email.suffix" : "@example.com",
  "field.Date Created" : "created",
  "value.Issue Type.Technical task" : "5",
  "field.Summary" : "summary",
  "value.Issue Type.Story" : "6",
  "date.import.format" : "yyyyMMddHHmmss",
  "field.Description" : "description",
  "date.fields" : "Date Created",
  "field.Reporter" : "reporter",
  "project.name" : "Subtasks",
  "field.Parent id" : "subtask-parent-id",
  "project.key" : "STS",
  "mapfromcsv" : "false"
}