{
  "project.lead" : "admin",
  "field.Issue Type" : "issuetype",
  "user.email.suffix" : "@example.com",
  "field.Status" : "status",
  "field.Summary" : "summary",
  "field.issue id" : "issue-id",
  "field.parent id" : "subtask-parent-id",
  "value.Status.In Progress" : "3",
  "date.import.format" : "yyyyMMddHHmmss",
  "field.Description" : "description",
  "field.Reporter" : "reporter",
  "project.name" : "monkey",
  "project.key" : "MKY",
  "mapfromcsv" : "false"
}