{
	"encoding" : "UTF-8",
	"mapfromcsv" : "false",
	"project.key" : "MKY",
	"project.name" : "monkey",
	"project.lead" : "admin",
	"field.User" : "customfield_multiUserPicker",
	"field.Summary" : "summary",
    "field.Group" : "customfield_multiGroupPicker",
    "field.Single Group" : "customfield_groupPicker",
    "field.Single User" : "customfield_userPicker",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "yyyyMMddHHmmss"
}
