{
	"mapfromcsv" : "false",
	"project.key": "DSTC",
	"project.name": "Delimiter set to comma",
	"encoding" : "UTF-8",
	"field.drag & drop" : "customfield_drag & drop:com.atlassian.jira.plugin.system.customfieldtypes:textfield",
	"field.summary" : "summary",
	"field.référence" : "customfield_r\u00E9f\u00E9rence:com.atlassian.jira.plugin.system.customfieldtypes:textarea",
	"value.summary.test" : "\u017C\u0142\u017A\u0107\u0138",
	"value.drag & drop.drop" : "drag",
	"value.référence.ref" : "\u0142\u017C\u0138\u017A\u0107\u0142"
}
