{
	"encoding" : "UTF-8",
	"importsingleproject" : "true",
	"importexistingproject" : "false",
	"mapfromcsv" : "false",
	"project.name" : "CSV Import",
	"project.key" : "CSVI",
	"project.lead" : "admin",
	"field.m1 version" : "customfield_multi version:com.atlassian.jira.plugin.system.customfieldtypes:multiversion",
	"field.m3 version" : "customfield_multi version:com.atlassian.jira.plugin.system.customfieldtypes:multiversion",
	"field.m2 version" : "customfield_multi version:com.atlassian.jira.plugin.system.customfieldtypes:multiversion",
	"field.summary" : "summary",
	"field.single version" : "customfield_single version:com.atlassian.jira.plugin.system.customfieldtypes:version",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "yyyyMMddHHmmss"
}
