{
	"encoding" : "UTF-8",
	"mapfromcsv" : "false",
	"project.key" : "MKY",
	"project.name" : "monkey",
	"project.lead" : "admin",
	"field.drag & drop" : "customfield_10000",
	"field.référence" : "customfield_r\u00E9f\u00E9rence:com.atlassian.jira.plugin.system.customfieldtypes:multiuserpicker",
	"field.summary" : "summary",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "yyyyMMddHHmmss",
	"user.extra.fields" : "customfield_r\u00E9f\u00E9rence:com.atlassian.jira.plugin.system.customfieldtypes:multiuserpicker"
}
