{
  "date.import.format" : "yyyyMMddHHmmss",
  "importexistingproject" : "true",
  "importsingleproject" : "false",
  "field.comment" : "comment",
  "field.version" : "versions",
  "encoding" : "UTF-8",
  "user.email.suffix" : "@example.com",
  "field.summary" : "summary",
  "project.key" : "MKY",
  "mapfromcsv" : "false"
}