{
  "field.Component" : "components",
  "field.Found In" : "versions",
  "field.Date Closed" : "resolutiondate",
  "project.lead" : "admin",
  "value.Status.Triaged" : "5",
  "field.Summary" : "summary",
  "field.Comment" : "comment",
  "value.Status.Peer Review" : "6",
  "value.Status.Closed" : "6",
  "value.Status.In Progress" : "3",
  "date.import.format" : "yyyy-MM-dd HH:mm",
  "field.Reporter" : "reporter",
  "project.name" : "Date created",
  "encoding" : "UTF-8",
  "field.Resolution" : "resolution",
  "importexistingproject" : "false",
  "field.Issue Type" : "issuetype",
  "user.email.suffix" : "@example.com",
  "field.Date Created" : "created",
  "field.Status" : "status",
  "delimiter" : ",",
  "field.Assignee" : "assignee",
  "field.Description" : "description",
  "date.fields" : "Date Created",
  "value.Status.Resolved" : "5",
  "importsingleproject" : "true",
  "value.Status.Not Triaged" : "6",
  "project.key" : "DC",
  "mapfromcsv" : "false"
}