{
	"importsingleproject" : "true",
	"importexistingproject" : "false",
	"mapfromcsv" : "false",
	"encoding" : "UTF-8",
	"project.name" : "Testing Subtasks",
	"project.key" : "SUB",
	"project.lead" : "admin",
	"field.Component" : "components",
	"field.Summary" : "summary",
	"field.Version" : "fixVersions",
	"field.My Issue Id" : "issue-id",
	"field.Parent Issue Id" : "subtask-parent-id",
	"field.More  Version" : "fixVersions",
	"field.Status" : "status",
	"value.Status.Closed Like" : "6",
	"value.Status.OpenLike" : "1",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "yyyyMMddHHmmss",
	"field.Type" : "issuetype",
	"value.Type.B" : "5",
	"value.Type.A" : "2"
}
