{
	"settings.advanced.mapper.comment" : "com.atlassian.jira.plugins.importer.imports.csv.mappers.PvcsComment",
	"encoding" : "UTF-8",
	"importsingleproject" : "true",
	"importexistingproject" : "false",
	"mapfromcsv" : "false",
	"project.name" : "Import Project",
	"project.key" : "IP",
	"project.lead" : "administrator",
	"field.CreatedUser" : "reporter",
	"field.Title" : "summary",
	"field.Comment0" : "comment",
	"field.Comment1" : "comment",
	"field.Comment2" : "comment",
	"field.DateModified" : "updated",
	"field.AssignedUser" : "assignee",
	"field.Comment3" : "comment",
	"field.Comment4" : "comment",
	"field.DateCreated" : "created",
	"field.Body" : "description",
	"field.LighthouseID" : "customfield_LighthouseID:com.atlassian.jira.plugins.jira-importers-plugin:bug-importid",
	"field.Label6" : "labels",
	"field.Label4" : "labels",
	"field.Label5" : "labels",
	"field.Label2" : "labels",
	"field.Label3" : "labels",
	"field.Label0" : "labels",
	"field.Label1" : "labels",
	"field.Estimate" : "timeoriginalestimate",
	"field.AttachmentURL" : "attachment",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "dd\/MM\/yyy HH:mm:ss",
	"date.fields" : "DateModified",
	"date.fields" : "DateCreated"
}
