{
	"encoding" : "UTF-8",
	"importsingleproject" : "true",
	"importexistingproject" : "false",
	"mapfromcsv" : "false",
	"project.name" : "CSV Import",
	"project.key" : "CSVI",
	"project.lead" : "admin",
	"field.Date Created" : "created",
	"field.Summary" : "summary",
	"field.Desc" : "description",
	"field.IT" : "issuetype",
	"field.Reporter" : "reporter",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "dd\/MM\/yyyy HH:mm:ss",
	"date.fields" : "Date Created",
	"field.Priority" : "priority"
}
