{
	"settings.advanced.mapper.comment" : "com.atlassian.jira.plugins.importer.imports.csv.mappers.PvcsComment",
	"encoding" : "UTF-8",
	"importsingleproject" : "true",
	"importexistingproject" : "false",
	"mapfromcsv" : "false",
	"project.name" : "Import Project",
	"project.key" : "IP",
	"project.lead" : "administrator",
	"field.assign" : "assignee",
	"field.subject" : "summary",
	"field.comment" : "comment",
	"user.email.suffix" : "@example.com",
	"date.import.format" : "dd\/MM\/yyy HH:mm",
	"date.fields" : "DateModified",
	"date.fields" : "DateCreated"
}
