#disable_html_escaping()
#parse("templates/email/html/includes/emailconstants.vm")
#parse("templates/email/html/includes/header.vm")
#set($setpasswordUrl    = "${baseurl}/secure/ResetPassword!default.jspa?os_username=${velocityhelper.urlencode($user.name)}&token=${params.get('password.token')}")
#set($forgotpasswordUrl = "${baseurl}/secure/ForgotLoginDetails.jspa?username=${velocityhelper.urlencode($user.name)}")
#if($product == "ondemand")## TODO JRADEV-12245 - Make OnDemand's emails the same as JIRA's.
    #set($setpasswordUrl    = "${baseurl}/secure/ViewProfile.jspa")
#end
<tr valign="top">
    <td id="email-banner" style="padding:32px 32px 0 32px;width:100%;">
        #set ($emailTitleHtml = "<a style='color:${textLinkColour};text-decoration:none;' href='${baseurl}'>${textutils.htmlEncode($applicationName)}</a>")

        #commonEmailBanner($initiatingUser $emailTitleHtml "template.${product}.user.created.person.createdaccount" "${textutils.htmlEncode($initiatingUser.displayName)}" "" "")
    </td>
</tr>
<tr valign="top">
    <td id="email-fields" style="padding:0 32px 32px 32px;width:100%;">
        <table border="0" cellpadding="0" cellspacing="0" style="padding:0;text-align:left;width:100%;" width="100%">
            <tr valign="top">
                <td id="email-gutter" style="width:64px;white-space:nowrap;"></td>
                <td style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};">

                    #parse("templates/email/html/includes/userdetails.vm")

                    <p style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};">$i18n.getText("template.${product}.user.created.intro")</p>
                    <p style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};">$i18n.getText("template.${product}.user.created.setyourpassword")</p>
                    <div style="padding:8px 0;"><a href="${setpasswordUrl}" id="email-signup-button" role="button" style="display:inline-block;background-color:#568cd3;border:solid 1px #4d7fc3;border-radius:3px;color:#fff;font-size:13px;font-weight:bold;padding:0;text-decoration:none;white-space:nowrap;"><span style="display:inline-block;background-color:#568cd3;border-top: 1px solid #6c9dda;border-radius:3px;padding:7px 15px;text-shadow: 0 -1px 0 #244778;">
                        $i18n.getText('template.user.created.set.password.button')
                    </span></a></div>
#if($product != "ondemand")## TODO JRADEV-12245 - Make OnDemand's emails the same as JIRA's.
                    <p style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};">$i18n.getText('template.user.created.lastshowlong', ${params.get('password.hours')})</p>
#end
                    <p style="color:${textColour};font-family:${textFontFamily};font-size:${textSize};">$i18n.getText('template.user.created.requestnewpassword', "<a style='color:${textLinkColour};text-decoration:none;' href='${forgotpasswordUrl}'>", "</a>")</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
#parse("templates/email/html/includes/footer.vm")
