<html>
   <head>
    <title>$i18n.getText('stp.plugin.name')</title>
    <meta name="decorator" content="atl.admin"/>
<meta name="admin.active.section" content="admin_system_menu/top_system_section/support_tools_section"/>
<meta name="admin.active.tab" content="support-tools-home"/>
<meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("com.atlassian.support.stp:resources")
   </head>
   
  <body>
	<div id="stp-container" class="aui-tabs vertical-tabs">
	    <ul class="tabs-menu">
		  #set ($tabCount = 0)
		  #foreach ($category in $factory.getActionCategories())
			<li class="aui-tabs-group">
		    	<strong>$i18n.getText($category)</strong>
	            <ul class="aui-tabs-group-menu">
				  	#foreach ($action in $factory.getActionsByCategory($category))
		                <li class="menu-item#if ($tabCount==0) active-tab #end">
		                    <a href="#$action.getName()-module"><strong>$i18n.getText($action.getTitle())</strong></a>
		                </li>
				        #set ($tabCount = $tabCount + 1)
			  		#end
	            </ul>
		    </li>
		  #end
		</ul>
		
		#set ($panelCount = 0)
		#foreach ($category in $factory.getActionCategories()) 
			#foreach ($action in $factory.getActionsByCategory($category))
				<div class="stp-module tabs-pane #if ($panelCount==0) active-pane #end " id="$action.getName()-module">
                    <h2>$i18n.getText($action.getTitle())</h2>
		            <div id="$action.getName()-module-details" class="stp-details loaded">
						#parse ( "/$action.getStartTemplatePath()" )
			        </div>
		        </div>
		        #set ($panelCount = $panelCount + 1)
			#end
		#end
	</div>
  </body>
 </html>
