#* @vtlvariable name="i18n" type="com.atlassian.jira.util.I18nHelper" *#
#* @vtlvariable name="dto" type="com.atlassian.labs.jira.workflow.HipChatPostFunction.NotificationDto" *#
<img src="$dto.baseUrl/images/icons/icon-error.png" width="16" height="16"> $i18n.getText("hipchat.notification.configerror", $dto.issue.projectObject.name, $dto.issue.projectObject.key)