#* @vtlvariable name="action" type="com.atlassian.jira.plugins.importer.web.ImporterValueMappingsPage" *#
#parse('/templates/admin/views/common/import-header.vm')

#if ($action.configBean.valueMappingHelper.fieldsForValueMapping && $action.configBean.valueMappingHelper.fieldsForValueMapping.empty == false)
	<table class="aui jim-table">
		<thead>
			<tr>
				<th>$i18n.getText('jira-importer-plugin.config.mappings.field.import.field')</th>
				<th class="padded-column">$i18n.getText('jira-importer-plugin.external.value.in.importer')</th>
				<th class="righarrowcolumn"></th>
				<th>$i18n.getText('jira-importer-plugin.external.target.value')</th>
			</tr>
		</thead>
		<tbody>

		#foreach($entry in $action.sorter.sort($action.configBean.valueMappingHelper.fieldsForValueMapping))
			<tr>
				#set ($currentValues = $action.configBean.valueMappingHelper.getDistinctValuesForField($entry))

				<td rowspan="$currentValues.size()">$!textutils.htmlEncode($entry)</td>

				#foreach($value in $currentValues)
					#if ($velocityCount != 1)
						<tr>
					#end

					#set ($inputName = $action.configBean.valueMappingHelper.getValueMappingFieldName($entry, $value))

					<td class="padded-column#if ($velocityCount != $currentValues.size()) nobottomborder#end">
						<label for="$!inputName">$value</label>
					</td>
					<td class="rightarrowcolumn#if ($velocityCount != $currentValues.size()) nobottomborder#end">&rarr;</td>
					<td class="#if ($velocityCount != $currentValues.size()) nobottomborder#end">
						#if ($action.configBean.valueMappingHelper.getTargetValues($entry))
							#set ($issueConstants = $map.build())
							#foreach($targetValue in $action.configBean.valueMappingHelper.getTargetValues($entry))
								$!{issueConstants.put($targetValue.id, $targetValue.name)}
							#end

							#set ($auiparams = $map.build('label', $value, 'name', $inputName))
							#set ($auiparams.map = $issueConstants)
							#if ($action.configBean.valueMappingHelper.getValueMapping($entry, $value))
								#set ($auiparams.value = $action.configBean.valueMappingHelper.getValueMapping($entry, $value))
							#end
							#set ($mapper = $action.configBean.valueMappingHelper.getValueMappingDefinition($entry))
							#if ($mapper.canBeImportedAsIs())
								#set ($auiparams.headerrow = $i18n.getText('jira-importer-plugin.external.values.nomapping'))
								#set ($auiparams.headervalue = '')
							#end

							#if ($mapper.canBeBlank())
								#set ($auiparams.headerrow2 = $i18n.getText('jira-importer-plugin.external.values.importasblank'))
								#set ($auiparams.headervalue2 = '<<blank>>')
							#end

							#if ($mapper.canBeCustom())
								#parse("/templates/common/selectWithTextArea.vm")
							#else
								#parse("/templates/common/select.vm")
							#end
						#else
							#set ($auiparams = $map.build('label', $value, 'name', $inputName))
							#if ($action.configBean.valueMappingHelper.getValueMapping($entry, $value))
								#set ($auiparams.value = $action.configBean.valueMappingHelper.getValueMapping($entry, $value))
							#end
							#if ($action.configBean.valueMappingHelper.getJiraField($entry))
								#set ($auiparams.extrahtml = $action.configBean.valueMappingHelper.getJiraField($entry).id)
							#end
							#parse("/templates/common/textfield.vm")
						#end
					</td>

					#if ($velocityCount != 1)
						</tr>
					#end
				#end
			</tr>
		#end
		</tbody>
	</table>
#else
	$i18n.getText('jira-importer-plugin.external.value.no.fields')
#end

#parse('/templates/admin/views/common/import-footer.vm')