{
	"projectSelection" : {
		"TestProduct" : "true",
		"Invalid component id" : "true"
	},
	"projectKey" : {
		"TestProduct" : "TST",
		"Invalid component id" : "IP"
	},
	"field" : {
		"cf_os" : "OS",
		"cf_list" : "This is a list custom field",
		"cf_large_text_box" : "Large text box",
		"cf_free_text" : "Free text",
		"cf_multiselect" : "Multiple selection box",
		"cf_date_time" : "Date time",
		"bug_id" : "Bugzilla"
	},
	"value" : {
		"login_name" : {
			"user4@example.com" : "USER4",
			"wseliga@atlassian.com" : "SELWOJ"
		},
		"bug_status" : {
			"NEW" : "1",
			"QA" : "4",
			"TESTING" : "4",
			"RESOLVED" : "5",
			"ASSIGNED" : "1"
		},
		"workflowScheme" : ""
	}
}
