(test'file)
*.backup
*.iml
*.ipr
*.iws
*.log
*10018__*
*10019_a*
.DS_Store
.classpath
.clover/
.idea
.project
.settings
.*.swp
/classes/
BuildUtils.java
DummyAttachment
atlassian-bundled-plugins.zip
atlassian-jira-*-standalone
check-cache.xml
enterprise-with-flush.xml
enterprise.xml
filename?
jira-components/jira-core/dependencies.txt.tmp
jira-components/jira-tests/filename.xml
jira-components/jira-tests/filename.zip
jira-home
jira.idea.properties
localtest.properties
modules
outputtest.xml
professional-with-flush.xml
professional.xml
release.info
rest-fields.xml
svn.info.xml
target/
tomcat
tomcat4
tomcat6
tomcatBase/
