<!DOCTYPE html>
#* @vtlvariable name="i18n" type="com.atlassian.sal.api.message.I18nResolver" *#
#* @vtlvariable name="stringUtils" type="org.apache.commons.lang.StringUtils" *#
#parse("/common/_help_link.vm")
#parse("/common/_configured_status.vm")
#parse("/common/_xsrf_token_element.vm")
<html>
<head>
    ${webResources.get()}
    ## The pane made visible on page load:
    <meta name="view" content="$view">
    ## The pane that will be activated by the Cancel button:
    <meta name="cancel" content="#if($enabled)enabled#{else}disabled#end">
</head>
<body class="auth-config">

    <fieldset class="hidden parameters">
        <input type="hidden" title="ignoreFrame" value="true" />
    </fieldset>

    ## The pane that is rendered when auth is disabled.
    <div class="auth-trusted-view disabled hidden">
        <form class="aui" method="POST">
            #status(false)
            #xsrfTokenElement()
            <p>${i18n.getText("auth.trusted.config.label.disabled", $consumer, $consumerAppType, $provider, $providerAppType)} #help('applinks.docs.configuring.auth.trusted.apps')</p>
            <div class="error">$!error</div>
            <div class="buttons-container">
                <div class="buttons">
                    <input type="button" id="auth-trusted-action-configure" value="${i18n.getText("auth.trusted.config.button.configure")}" class="button" />
                </div>
            </div>
        </form>
    </div>

    ## The pane that is rendered when auth is enabled.
    <div class="auth-trusted-view enabled hidden">
        <form class="aui" method="POST" action="${formLocation}">
            #status(true)
            #xsrfTokenElement()
            <input type="hidden" name="action" value="DISABLE" />
            <input type="hidden" name="hostUrl" value="$!hostUrl"/>
            <p>${i18n.getText("auth.trusted.config.label.enabled", $consumer, $consumerAppType, $provider, $providerAppType)} #help('applinks.docs.configuring.auth.trusted.apps')</p>
            #if ($nonUAL)
                <p>${i18n.getText("auth.trusted.config.label.non.ual")}</p>
            #end
            #if($role == "provider" || ($role == "consumer" && !$nonUAL))
                <fieldset>
                    <div class="field-group">
                        <label>${i18n.getText("auth.trusted.config.label.ip.patterns")}</label>
                        <span><em><textarea class="textarea" rows="5" readonly="readonly">$!ipPatterns</textarea></em></span>
                        <div class="url-pattern-warning"><div class="warning-icon">&nbsp;</div> ${i18n.getText("auth.trusted.ip.pattern.warning")} <a target="_blank" href="#helpLink('applinks.docs.configuring.auth.trusted.apps')">${i18n.getText("auth.trusted.ip.pattern.warning.learn.why")}</a></div>
                    </div>
                    <div class="field-group">
                        <label>${i18n.getText("auth.trusted.config.label.url.patterns")}</label>
                        <span><em><textarea class="textarea" rows="5" readonly="readonly">$!urlPatterns</textarea></em></span>
                    </div>
                    <div class="field-group">
                        <label>${i18n.getText("auth.trusted.config.label.timeout")}</label>
                        <span><em>$!timeout</em></span>
                    </div>
                </fieldset>
            #end

            <div class="error">$!error</div>
            <div class="buttons-container">
                <div class="buttons">
                    <input type="button" id="auth-trusted-action-change" value="${i18n.getText("auth.trusted.config.button.modify")}" class="button" />
                    <input type="submit" value="${i18n.getText("auth.trusted.config.button.disable")}" class="button" />
                </div>
            </div>
            ## TODO: add a test button: https://studio.atlassian.com/browse/APL-200
        </form>
    </div>

    ## Edit screen for entering trusted request conditions.
    <div class="auth-trusted-view edit hidden">
        <form class="aui" method="POST" action="${formLocation}">
            #xsrfTokenElement()
            <input type="hidden" name="action" value="ENABLE" />
            <input type="hidden" name="hostUrl" value="$!hostUrl"/>
            #if($role == "provider" || ($role == "consumer" && !$nonUAL))
                <div>${i18n.getText("auth.trusted.config.details")} #help('applinks.docs.configuring.auth.trusted.apps')</div>
                <fieldset>
                    <div class="field-group">
                        <label for="ipPatternsInput">${i18n.getText("auth.trusted.config.label.ip.patterns")}:</label>
                        <textarea id="ipPatternsInput" class="textarea" rows="5" name="ipPatternsInput">$!{stringUtils.defaultIfEmpty($ipPatternsInput, $ipPatterns)}</textarea>
                        #set ($pattern = ${stringUtils.defaultIfEmpty($ipPatternsInput, $ipPatterns)})
                        <div class="url-pattern-warning"><div class="warning-icon">&nbsp;</div> ${i18n.getText("auth.trusted.ip.pattern.warning")} <a target="_blank" href="#helpLink('applinks.docs.configuring.auth.trusted.apps')">${i18n.getText("auth.trusted.ip.pattern.warning.learn.why")}</a></div>
                        <div class="error">$!ipPatternsInputErrorHtml</div>
                        <div class="description">${i18n.getText("auth.trusted.config.label.ip.patterns.description", $provider, $providerAppType, $consumer, $consumerAppType)}</div>
                    </div>
                    <div class="field-group">
                        <label for="urlPatternsInput">${i18n.getText("auth.trusted.config.label.url.patterns")}:</label>
                        <textarea id="urlPatternsInput" name="urlPatternsInput" class="textarea" rows="5">$!{stringUtils.defaultIfEmpty($urlPatternsInput, $urlPatterns)}</textarea>
                        <div class="error">$!urlPatternsInputError</div>
                        <div class="description">${i18n.getText("auth.trusted.config.label.url.patterns.description", $provider, $providerAppType, $consumer, $consumerAppType)}</div>
                    </div>
                    <div class="field-group">
                        <label for="timeoutInput">${i18n.getText("auth.trusted.config.label.timeout")}:</label>
                        <input id="timeoutInput" type="text" name="timeoutInput" value="$!{stringUtils.defaultIfEmpty($timeoutInput, $timeout)}" />
                        <div class="error">$!timeoutInputError</div>
                        <div class="description">${i18n.getText("auth.trusted.config.label.timeout.description")}</div>
                    </div>
                </fieldset>
            #else
                <fieldset>
                    <div>${i18n.getText("auth.trusted.config.nonual")}</div>
                </fieldset>
            #end
            <div class="error">$!error</div>
            <div class="buttons-container">
                <div class="buttons">
                    <input type="submit" value="${i18n.getText("auth.trusted.config.button.apply")}" class="button" />
                    <input type="button" id="auth-trusted-action-cancel" value="${i18n.getText("auth.trusted.config.button.cancel")}" class="button" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
