<?xml version="1.0" encoding="UTF-8"?>

<Server debug="0" port="8099" shutdown="SHUTDOWN">
  <Service name="Tomcat-Standalone">
    <Connector disableUploadTimeout="true" maxProcessors="75" debug="0" redirectPort="8443" port="${jira.port}" useURIValidationHack="false" className="org.apache.coyote.tomcat4.CoyoteConnector" enableLookups="true" acceptCount="10" useBodyEncodingForURI="true" connectionTimeout="20000" minProcessors="5">
    </Connector>
    <Engine defaultHost="localhost" debug="0" name="Standalone">
      <Host debug="0" name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="false">
        <Context docBase="${jira.docbase}" workDir="${tomcat.workdir}" reloadable="false" debug="0" path="${jira.context}" useHttpOnly="true">
            <!-- no longer necessary to define a JNDI datasource here.
            <Resource name="jdbc/JiraDS" auth="Container" type="javax.sql.DataSource"
                    driverClassName="${jira.db.driver}"
                    url="${jira.db.url}"
                    username="${jira.db.username}"
                    password="${jira.db.password}"
                    minEvictableIdleTimeMillis="4000"
                    timeBetweenEvictionRunsMillis="5000"
                    maxActive="20"
                  />
            -->
            <Resource name="UserTransaction" auth="Container" type="javax.transaction.UserTransaction"
                    factory="org.objectweb.jotm.UserTransactionFactory" jotm.timeout="60"/>
          <Manager pathname="">
          </Manager>
        </Context>
      </Host>
    </Engine>
    <!--ssl disabled. Set atlassian.idea.application.ssl.enabled to 'true' (currently 'false')-->

    <!-- To connect to an external web server (typically Apache) -->
    <!-- Define an AJP 1.3 Connector on port 8009 -->

    <Connector port="8009"
          enableLookups="false" redirectPort="8443" protocol="AJP/1.3" URIEncoding="UTF-8"/>

  </Service>
</Server>
