##disable_html_escaping() TODO REENABLE
#if ($value.label)
  #set ($outputValue = $value.label)
#else
  #set ($outputValue = $value)
#end
#if ($urlPrefix && $urlPrefix != '')
  <a href="${urlPrefix}">$outputValue</a>
#else
  $outputValue
#end
