#* @vtlvariable name="action" type="com.atlassian.jira.plugins.importer.web.trac.TracSetupPage" *#
#parse('/templates/admin/views/common/import-header.vm')

#set ($auiparams = $map.build('name', 'environmentFile', 'label', 'jira-importer-plugin.trac.setup.page.zip.file', 'required', true))
#set ($auiparams.description = $i18n.getText('jira-importer-plugin.csv.file.size.limit', [$action.fileSize.format($action.attachmentSize), $req.contextPath]))

#parse("/templates/standard/aui.vm")
#parse("/templates/standard/normalHeader.vm")
<input type="file" name="environmentFile">
#parse("/templates/standard/normalFooter.vm")

#parse('/templates/admin/views/common/configFile.vm')

#parse("/templates/admin/views/common/standardSetupFooter.vm")
