# written by PropertiesConfiguration
# Tue Jan 25 15:01:04 CET 2011
importsingleproject = false
importexistingproject = true
mapfromcsv = false
project.key = MKY
field.summary = summary
field.resolution = resolution
field.status = status
field.type = type
field.priority = priority
value.priority.Trivial = 5
value.priority.Blocker = 1
value.status.Closed = 6
value.type.Task = 3
value.type.New feature = 2
