{
  "field" : {
  },
  "link" : {
  },
  "value" : {
    "Username" : {
      "wseliga" : "mapped wseliga",
      "Test Member" : "mapped Test Member",
      "Wojciech Seliga" : "mapped Wojciech seliga"
    },
    "workflowScheme" : ""
  },
  "projectLead" : {
    "My Test Project" : "admin",
    "Time Tracking Test" : "admin"
  },
  "projectName" : {
    "My Test Project" : "Mapped Usernames Test",
    "Time Tracking Test" : "Mapped Time Tracking Test"
  },
  "projectKey" : {
    "My Test Project" : "MUT",
    "Time Tracking Test" : "MTT"
  },
  "projectSelection" : {
    "Time Tracking Test" : "true",
    "My Sample Project" : "false",
    "My Test Project" : "true"
  }
}