#* @vtlvariable name="action" type="com.atlassian.jira.plugins.importer.web.ImporterProjectMappingsPage" *#
#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
<html>
	<head>
		<title>$i18n.getText('jira-importer-plugin.config.title', $action.title)</title>
		#parse("/templates/admin/views/common/html-header.vm")
	</head>
<body>
#set ($auiparams = $map.build())
#set ($auiparams.title = "$i18n.getText('jira-importer-plugin.wizard.projectmappings.title')")
#set ($cancelURI = "${action.controller.steps.get(0)}!default.jspa?externalSystem=$action.externalSystem")

#parse('/templates/standard/jiraformheader.vm')

<table class="aui" style="width: auto !important;" id="projectMappings">
	<thead>
		<tr>
			<th>
				#set ($auiparams = $map.build('class', 'checkbox all_projects_checkbox', 'name', "all_projects_check"))
				#parse('/templates/common/checkbox.vm')

				$i18n.getText('jira-importer-plugin.wizard.projectmappings.header.import')
			</th>
			<th>$i18n.getText('jira-importer-plugin.wizard.projectmappings.header.extproject', $action.title)</th>
			<th></th>
			<th>$i18n.getText('jira-importer-plugin.wizard.projectmappings.header.jiraproject')</th>
		#*<th>$i18n.getText('jira-importer-plugin.csv.project.lead')</th>*#
		</tr>
	</thead>
	<tbody>
	#foreach($entry in $action.sorter.sort($action.projectNamesFromDb))
		#set ($fieldId = ${action.getProjectFieldId($entry)})
		<tr id="${fieldId}">
			<td>
				#set ($auiparams = $map.build('class', 'checkbox project_checkbox', 'name', "${fieldId}_project_check", 'value', $action.isProjectSelected($entry)))
				#parse('/templates/common/checkbox.vm')
			</td>
			<td class="formLabel" id="${fieldId}_extName">
				$textutils.htmlEncode($entry)
			</td>
			<td class="rightarrowcolumn">
				&rarr;
			</td>
			<td class="fieldValueArea">
				#parse("/templates/admin/views/common/projectMappingHtml.vm")
			</td>
		</tr>
	#end
	</tbody>
</table>

#if (!$action.createProjectsEnabled)
<div id="importer-info-box" class="jim-hints-section">
    <p>$i18n.getText("jira-importer-plugin.you.can.select.only.existing.projects")</p>
</div>
#end

<input type="hidden" id="projectMapping" name="projectMapping">

#parse("/templates/admin/views/common/projectMappingJavascript.vm")
#parse("/templates/admin/views/common/import-footer.vm")
