#foreach ($commentHtml in $comment.iterator())
<blockquote>$commentHtml</blockquote>
#end
<div class="user-content">
  $contentHtml #if($truncated)<a href="$contentUri" class='content-more'>$i18n.getText("streams.activity.summary.read.more")</a>#end
</div>
